<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RacingGame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RacingGame.Properties.Settings>
            <setting name="Fullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VSync" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="NumberOfShadowMaps" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="UseSSAO" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="easyControls" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chosenVehicle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="spawnMegaBeams" serializeAs="String">
                <value>True</value>
            </setting>
        </RacingGame.Properties.Settings>
    </userSettings>
</configuration>